.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: medium;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  margin: 0 auto;
}

nav button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  flex-wrap: wrap;
}

form {  
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

input,
select {
  padding: 0.5rem 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 8px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  text-align: left;
}
